{% extends 'homepage.html' %}

{% block titulo %}
    CriarConta - FakePinterest
{% endblock %}

{% block formulario %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div>
            {{ form.email.label }}
            {{ form.email }}
        </div>

        <div>
            {{ form.username.label }}
            {{ form.username }}
        </div>

        <div>
            {{ form.senha.label }}
            {{ form.senha }}
        </div>

        <div>
            {{ form.confirmacao_senha.label }}
            {{ form.confirmacao_senha }}
        </div>

        <div>
            {{ form.botao_confirmacao }}
        </div>
    </form>
{% endblock %}
